spring:
  datasource:
    url: jdbc:postgresql://172.16.19.33:5999/yfsdb
    username: yfs_service
    password: G7!kL9#pQ2@vX5$mR8^tZ1
    hikari:
      maximum-pool-size: 5

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    root: INFO
    ke.co.coop.budget: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  error:
    include-stacktrace: on_param

springdoc:
  swagger-ui:
    enabled: true

app:
  security:
    jwt:
      enabled: false  # Disable JWT in dev for easier testing