spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: false  # Disable Flyway for tests

logging:
  level:
    root: WARN
    ke.co.coop.budget: DEBUG

app:
  security:
    jwt:
      enabled: false